:root {
  --primary: #9F73AB;
  --secondary: #624F82;
  --dark: #413d6e;
  --light: #A3C7D6;
}

* {
  margin: 0;
  padding: 0;
}

/*body {

}*/


.container {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 600px 600px 600px 600px;
  font-family: montserrat, sans-serif;
  align-content: end;
  height: min-content;
  justify-content: start;

}

/*floppy disc*/


.disc {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.floppy {
  grid-area: 1 / 1/ 2 / 2;
  margin: auto auto auto;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.floppy__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.floppy__inner.is-flipped {
  transform: rotateY(180deg);
}


.floppy__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.floppy__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.floppy__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.floppy__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.floppy__content {
  width: 100%;
  height: 100%;
}

.floppy__header {
  position: relative;
  padding: 30px 30px 40px;
}

.floppy__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.floppy__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.floppy__body {
  padding: 30px;
}

.floppy__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.floppy__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}





/*old compaq laptop*/



.laptop {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.compaq {
  grid-area: 1 / 2/ 2 / 3;
  margin: auto auto auto;
  width: 350px;
  height: 500px;
  perspective: 1000px;
}

.compaq__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.compaq__inner.is-flipped {
  transform: rotateY(180deg);
}


.compaq__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.compaq__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.compaq__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.compaq__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.compaq__content {
  width: 100%;
  height: 100%;
}

.compaq__header {
  position: relative;
  padding: 30px 30px 40px;
}

.compaq__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.compaq__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.compaq__body {
  padding: 30px;
}

.compaq__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.compaq__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}

/*sony phone*/

.handy {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;

}

.sony {
  grid-area: 1 / 3/ 2 / 3;
  margin: auto auto auto;
  width: 350px;
  height: 500px;
  perspective: 1000px;
}

.sony__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.sony__inner.is-flipped {
  transform: rotateY(180deg);
}


.sony__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.sony__face--front {
  background-image: linear-gradient(to bottom left, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sony__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.sony__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.sony__content {
  width: 100%;
  height: 100%;
}

.sony__header {
  position: relative;
  padding: 30px 30px 40px;
}

.sony__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.sony__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.sony__body {
  padding: 30px;
}

.sony__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sony__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}


/*ibm dos disc*/


.dos {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.ibm {
  grid-area: 2 /1/ 3 /2;
  margin: auto auto auto;
  width: 350px;
  height: 500px;
  perspective: 1000px;
}

.ibm__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.ibm__inner.is-flipped {
  transform: rotateY(180deg);
}


.ibm__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.ibm__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ibm__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.ibm__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.ibm__content {
  width: 100%;
  height: 100%;
}

.ibm__header {
  position: relative;
  padding: 30px 30px 40px;
}

.ibm__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.ibm__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.ibm__body {
  padding: 30px;
}

.ibm__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.ibm__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}





.tastatur {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.keyboard {
  grid-area: 2 /2/ 3 /3;
  margin: auto auto auto;
  width: 350px;
  height: 500px;
  perspective: 1000px;
}

.keyboard__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.keyboard__inner.is-flipped {
  transform: rotateY(180deg);
}


.keyboard__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.keyboard__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.keyboard__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.keyboard__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.keyboard__content {
  width: 100%;
  height: 100%;
}

.keyboard__header {
  position: relative;
  padding: 30px 30px 40px;
}

.keyboard__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.keyboard__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.keyboard__body {
  padding: 30px;
}

.keyboard__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.keyboard__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}



.apple {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.iphone {
  grid-area: 2 /3/ 3 /4;
  margin: auto auto auto;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.iphone__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.iphone__inner.is-flipped {
  transform: rotateY(180deg);
}


.iphone__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.iphone__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.iphone__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.iphone__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.iphone__content {
  width: 100%;
  height: 100%;
}

.iphone__header {
  position: relative;
  padding: 30px 30px 40px;
}

.iphone__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.iphone__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.iphone__body {
  padding: 30px;
}

.iphone__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.iphone__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}



.casette {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.vhs {
  grid-area: 3/1/ 4 /2;
  margin: auto auto auto;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.vhs__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.vhs__inner.is-flipped {
  transform: rotateY(180deg);
}


.vhs__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.vhs__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.vhs__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.vhs__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.vhs__content {
  width: 100%;
  height: 100%;
}

.vhs__header {
  position: relative;
  padding: 30px 30px 40px;
}

.vhs__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.vhs__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.vhs__body {
  padding: 30px;
}

.vhs__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.vhs__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}







.microsoft {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.office {
  grid-area: 3/2/ 4 /3;
  margin: auto auto auto;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.office__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.office__inner.is-flipped {
  transform: rotateY(180deg);
}


.office__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.office__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.office__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.office__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.office__content {
  width: 100%;
  height: 100%;
}

.office__header {
  position: relative;
  padding: 30px 30px 40px;
}

.office__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.office__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.office__body {
  padding: 30px;
}

.office__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.office__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}





.tv500 {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.tv {
  grid-area: 3/3/ 4 /3;
  margin: auto auto auto;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.tv__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.tv__inner.is-flipped {
  transform: rotateY(180deg);
}


.tv__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.tv__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tv__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.tv__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.tv__content {
  width: 100%;
  height: 100%;
}

.tv__header {
  position: relative;
  padding: 30px 30px 40px;
}

.tv__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.tv__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.tv__body {
  padding: 30px;
}

.tv__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.tv__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}



.tape {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.cartridge {
  grid-area: 5/1/ 4 /2;
  margin: auto auto auto;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.cartridge__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.cartridge__inner.is-flipped {
  transform: rotateY(180deg);
}


.cartridge__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.cartridge__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cartridge__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.cartridge__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.cartridge__content {
  width: 100%;
  height: 100%;
}

.cartridge__header {
  position: relative;
  padding: 30px 30px 40px;
}

.cartridge__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.cartridge__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.cartridge__body {
  padding: 30px;
}

.cartridge__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.cartridge__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}





.toshiba {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.HDD {
  grid-area: 5/2/ 4 /3;
  margin: auto auto auto;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.HDD__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.HDD__inner.is-flipped {
  transform: rotateY(180deg);
}


.HDD__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.HDD__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.HDD__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.HDD__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.HDD__content {
  width: 100%;
  height: 100%;
}

.HDD__header {
  position: relative;
  padding: 30px 30px 40px;
}

.HDD__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.HDD__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.HDD__body {
  padding: 30px;
}

.HDD__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.HDD__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}


.Windows95 {
  inline-size: 100%;
  aspect-ratio: 21 / 14;
  object-fit: contain;


}

.Windows {
  grid-area: 5/3/ 4 /3;
  margin: auto auto auto;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.Windows__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.Windows__inner.is-flipped {
  transform: rotateY(180deg);
}


.Windows__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.Windows__face--front {
  background-image: linear-gradient(to bottom right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Windows__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.Windows__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.Windows__content {
  width: 100%;
  height: 100%;
}

.Windows__header {
  position: relative;
  padding: 30px 30px 40px;
}

.Windows__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.Windows__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.Windows__body {
  padding: 30px;
}

.Windows__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.Windows__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}

